/* Top Bar */
:root {
    --custom-app-top-bar-height: 26px
}

     [class^=trailing] {
        gap: unset;
        > [class^=recentsIcon] {
            &:hover {
                background-color: var(--background-modifier-hover);
                color: var(--interactive-hover);
            }
            > [class^=button] {
                height: 16px;
                width: 16px;
                padding: 3px 12px;
            }
        }
        > a[href="https://support.discord.com"] {
            display: none;
        }
        > [class^=winButtons] {
            gap: unset;
            > [class^=winButton] {
                width: calc(var(--custom-app-top-bar-height) * 2);
            }
        }
    }
/* Top Bar End */

/* Make profile & derivatives stop hogging the entire bottom left corner*/
.visual-refresh [class^=panels_] {
  bottom: 0px;
  padding-top: 8px;
  left: 73px;
  width: calc(100% - 73px);
  border-radius: 0%;
}

[class*=lowerBadge_]{
scale: 90%;
}

[class^=sidebarList_] [class^=container__] [aria-label="Channels"]
{
  margin-bottom: calc(100% - 75%);
}


.visual-refresh .rootWithShadow__49fc1{
  box-shadow: var(--legacy-elevation-border),var(--legacy-elevation-high);
}

.visual-refresh .root__49fc1
{
  border-radius: 4px;
  border: none;
}

:where(.visual-refresh) .header__49fc1{
  padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
}

:where(.visual-refresh) .content__49fc1{
  padding-top: unset;
}

.visual-refresh .footerSeparator__49fc1, .visual-refresh .separator__49fc1{
  box-shadow: inset 0 1px 0 hsl(var(--primary-630-hsl)/.6);
}

:where(.visual-refresh) .footer__49fc1{
  border-radius: 0 0 5px 5px;
  padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
}

.visual-refresh [class*=toast__]
{
  background-color: var(--background-tertiary);
  border: none;
  border-radius: 32px;
  box-shadow: none;
  padding: 16px;
}

.visual-refresh [aria-label="Family Center"] [class*=box_]{
  border: none;
  box-shadow: var(--elevation-low);
  background-color: var(--background-secondary);
}

[class*=trait_]
{
border-radius: 4px;
border:  1px solid var(--border-normal);
}

[class*=trait_]:hover
{
border:  1px solid var(--text-muted);
}

.visual-refresh [class*=media_]
{
  border-radius: 3px;
}

[id=privacy_and_safety_standing-tab] [class*=cardPrimary__]
{
  border: none !important;
}

:where(.visual-refresh) [class*=menu]{
  border-radius: 4px;
}

:where(.visual-refresh) [class*=menu] [class*=scroller_] [class*=wrapper_]
{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 1fr;
justify-items: center;
padding: 4px 0 6px 2px !important;
}

:where(.visual-refresh) [class*=customItem_] [class*=button_]
{
display: flex;
justify-content: center;
width: 32px;
height: 32px;
padding: 4px;
flex: 0 0 auto;
cursor: pointer;
border-radius: 50%;
background-color: var(--background-tertiary);
}

[class*=activityPanel_] , #vc-spotify-player {
  --background-surface-high: #232428;
  box-shadow: 0px 1px 1px #37393f;
  border-radius: 0% !important;
  margin-bottom: 8px !important;
  padding-top: 1px !important;
}

#vc-spotify-player {
border-bottom: 0px !important;
background: unset !important;
}

[data-list-id*=forum-channel-list] , [class*=grid_]
{
  --background-base-low: #393c41;
  --background-surface-high: #393c41;
  --button-secondary-background: #232428;
  --background-surface-higher: #43444b;
  --background-modifier-hover: #393c41;
}

[class*=bar__]:has([class*=unreadIcon__])
{
  background-color: var(--background-floating);
  margin-bottom: 4px;
  margin-top: 4px;
  opacity: .95;
  border: none;
  box-shadow: 0 1px 3px 0px black;

}

[class*=mainContent__] [class*=overflow__]:not([class*=name__])
{
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
  letter-spacing: .02em;
  padding-left: 2px;
  font-weight: 600;
}

.visual-refresh [class*=membersGroup_] > span{
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-weight: 600; 
}

.visual-refresh [class*=peopleColumn__] [class*=sectionTitle] [class*=title__]
{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .02em;
  font-family: var(--font-display);
  font-weight: 600;
}

[class*=markup__] code{
  background: var(--background-secondary) !important;
  border: 1px solid var(--background-tertiary) !important;
}

.visual-refresh [class*=eyebrow_]
{
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 1.3333333333333333;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.visual-refresh [class*=search__] {
  margin: 0 8px;
}

.visual-refresh [class*=search__] [class*=searchBar__]
{
border-radius: 4px;
box-sizing: border-box;
box-shadow: none;
overflow: hidden;
height: 24px;
align-items: stretch;
width: 144px;
transition: width .25s ease;
line-height: 20px;
padding: 0 2px
}

.visual-refresh [class*=search__] [class*=DraftEditor-root]
{
height: inherit;
line-height: 20px;
padding: 2px 0;
font-size: 14px;
overflow: hidden;
}

.visual-refresh [class*=search__] [class*=searchBar__] [class*=DraftEditor-editorContainer]
{
height: 20px;
border-radius: 2px;
border: none;
overflow: hidden;
text-align: initial;
}

.visual-refresh [class*=search__]  [class*=open_] [class*=searchBar__]
{
width: 244px;
}

.visual-refresh [class*=searchAnswer_]
{
 border-radius: 0 2px 2px 0;
 padding: 0 2px;
 margin-right: 2px;
 margin-left: -2px;
}

.visual-refresh [class*=searchFilter_]{
  border-radius: 2px 0 0 2px;
  padding: 0 2px;
}

.visual-refresh [class*=searchFilter_]:first-child{
  margin-left: -2px;
}


.visual-refresh [class*=searchFilter_] , .visual-refresh [class*=searchAnswer_]
{
  background-color: var(--bg-surface-raised);
  display: inline-block;
  height: 20px;
  color: var(--header-primary) !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857142858;
}

.visual-refresh [class*=title_]{
color: var(--header-secondary); 
}

[class*=subText__] [class*=activityText_] {
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 1.3333333333333333;
  font-weight: 500;
  color: var(--channels-default);
}

[class*=addFriendWumpusWrapper__] > img
{
  display: none;
}

[id=add_friend-tab] [class*=header__] [class*=title__]
{
font-size: 16px;
color: var(--header-primary);
text-transform: uppercase;
line-height: 20px;
font-weight: 600;
font-family: var(--font-display)
}

[class*=subtext__] [class*=text-sm\/medium_]
{
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 1.3333333333333333;
  font-weight: 500;
  color: var(--channels-default);
  text-transform: none;
}

[class*=mainContent__]:has([class*=overflow__]) [class*=icon__]
{
position: absolute;
left: 5px;
}

[id*=message-content-] [class*=container_]:has([class*=description_] , [class*=button])
{
  background-color: var(--background-secondary);
  border-radius: 8px;
  border: none;
}


/*invite button shittery*/
[id*=message-accessories-]
{
--background-surface-high: #2b2d31;
}

[id*=message-accessories-] [class*=header_]
{
font-family: var(--font-display);
font-size: 12px;
line-height: 1.3333333333333333;
text-transform: uppercase;
letter-spacing: .02em;
font-weight: 700;
}

[class*=container__]:not([class*=descriptionClamp_])[class*=markup__]
{
  --border-normal: #1e1f22 !important;
}

[id*=message-accessories-] [class*=content]:has([class*=headerLine_]):not([class*=contents__])
{
padding-bottom: 15px;
border-radius:0px !important;
}

[id*=message-accessories-] [class*=button_]
{
border-radius:3px !important;
}

[data-list-id*=forum-channel-list] [class*=mainCard_]:hover:not([class*=header_])
{
  box-shadow: 0px 8px 16px hsl(var(--black-500-hsl)/0.24);
}

[class*=file_]
{
--background-surface-high: #2b2d31;
}

[data-type="success"]{
  background-color: #1e1f22 !important;
  color: #f2f3f5 !important;
}

[class*=colorDanger_]{
  --text-danger: #da373c;
  --text-feedback-critical: white;
  --background-feedback-critical: #da373c;

}

:where(.visual-refresh) [class*=button_]
{
  border-radius: 3px;
  border: 1px solid transparent;
}

[class*=button__][class*=colorRed__]
{
  --button-outline-danger-background: #313338 !important;
  --button-outline-danger-background-hover: #da373c;
  --button-outline-danger-text: white;
  --button-outline-danger-text-hover: white;
  --button-outline-danger-border-hover: #da373c;
  --button-outline-danger-border: #da373c;
}

/* Chat Bar */
.visual-refresh [class*=scrollerInner__] {
    padding-bottom: 5px;
}

.visual-refresh .button__74017,.buttonContents_e6e74f:not([class*="enabled__67645"]) {
    transform: scale(1.25) !important;
}

.visual-refresh [class*=spriteContainer__] {
   transform: scale(1.1) !important;
}

[aria-label="Pinned Messages"] [class*=header__]
{
  --background-surface-high: #232428;
}

[class*=actionButtons__]:has([class*=jumpButton__]){
  --background-surface-high: #232428;
  box-shadow: none !important;
}

[aria-label="Pinned Messages"] [class*=messagesPopoutWrap__]
{
  box-shadow: 0 1px 5px 0px rgb(0, 0, 0, 0.4);
  --background-surface-high: #313338;
  --background-surface-higher: #313338;
}

[class*=repliedMessage_]{
  --header-secondary: #b4b9c0;
}

[class*=outer_]:has([class*=footer__])
{
  --background-secondary-alt: #232428 !important;
}

[class*=outer_] [class*=footer__]:has([class*=button__],[class*=contents__])
{
border-top: 1px solid #343539;
}

[id*=popout_] [class*=footer__]:has([class*=button__],[class*=contents__])
{
border-top: none;
}

[class*=outer_] [class*=footer__]:has([aria-label="Example Button"])
{
border-top: none;
}


[class*=guildSeparator__] {
  background-color: #35363c !important;
  padding-bottom: 1px;
  }

.visual-refresh [class*=autocompleteInner__]{
  --background-surface-high: #2b2d31;
  --background-base-lowest:#1e1f22;
}

[class*=panels_c48ade] [aria-label="Mute"], [aria-label="Deafen"], [aria-label="Enable Game Activity"], [aria-label="Disable Game Activity"], [aria-label="User Settings"]
{
  background-color: transparent !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-idle)"]) [class*=pointerEvents__]{
  fill: #f0b232 !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-online)"]) [class*=pointerEvents__]{
  fill: #23a55a !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-online)"]) [class*=pointerEvents__]{
  fill: #23a55a !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-dnd)"]) [class*=pointerEvents__]{
  fill: #f23f43 !important;
}

[class*=separator_]{
  background-color: #3b3d44 !important;
}

[class*=spoilerWrapper__] > img{
border-radius: 3px !important;
max-width: 100%;
object-fit: contain;
}

[class*=upload_]
{
  border: none !important;
}

[class*=uploadContainer_] [class*=actionBar_] [class*=wrapper_]
{
  box-shadow: 0 0px 2px 0px #191a1d;
  background-color: #313338;
}

[class*=uploadContainer_] [class*=actionBar_] [class*=wrapper_]:hover
{
  box-shadow: 0 0px 2px 0px #191a1d;
  background-color: #313338;
}

[class*=actionButtons_] {
  padding-bottom: 8px;
  margin-top: -5px;
  box-shadow: 0px 1px 1px #37393f;
}

[class*=privateChannelsHeaderContainer_] {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .02em;
  font-family: var(--font-display);
  font-weight: 600;
  text-transform: uppercase;
}

.icon_f34534.folderPreviewGuildIcon__48112 {
  border-radius: 50% !important
}

[class*=bar_] [class*=title_] [class*=title_] > svg{
display: none;
}

[class*=bar_] [class*=title_] [class*=title_] [class*=icon_]{
  display: none;
  }

[class*=bar_] [class*=title_] [class*=title_] [class*=text-sm\/medium_]{
  display: none;
  }

[class*=bar_] .title_c38106::before {
  font-size: 17px;
  content: "Discord";
  color: transparent;
  font-weight: bold;
  margin-top: 7px !important;
  margin-bottom: 10px !important;
  pointer-events: none;
  position: fixed;
  margin-left:auto;
  margin-right:auto;
  z-index: 10;
  height: 11px;
  width:calc(100% - 10px);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Discord-Logo' version='1.1' viewBox='0 0 520 96' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23949ba4;%7D%3C/style%3E%3C/defs%3E%3Cpath id='Discord-Logo-White' class='cls-1' d='m-62.652 0c-1.2376 2.1973-2.3489 4.4704-3.3591 6.794-9.5975-1.4396-19.372-1.4396-28.994 0-0.985-2.3236-2.1216-4.5967-3.3591-6.794-9.0166 1.5407-17.806 4.2431-26.141 8.0568-16.518 24.474-20.988 48.316-18.766 71.83 9.6732 7.1476 20.508 12.603 32.05 16.088 2.6014-3.4854 4.8998-7.1981 6.8698-11.062-3.738-1.3891-7.3497-3.1318-10.81-5.1523 0.9092-0.6567 1.7932-1.3386 2.6519-1.9953 20.281 9.547 43.77 9.547 64.076 0 0.8587 0.7072 1.7427 1.3891 2.6519 1.9953-3.4601 2.0457-7.0718 3.7632-10.835 5.1776 1.97 3.8642 4.2683 7.5769 6.8698 11.062 11.542-3.4854 22.377-8.9156 32.051-16.063 2.626-27.277-4.496-50.917-18.817-71.855-8.3089-3.8137-17.098-6.5162-26.115-8.0316zm-38.87 65.414c-6.2383 0-11.416-5.6575-11.416-12.654s4.9755-12.679 11.391-12.679c6.4152 0 11.517 5.708 11.416 12.679s-5.026 12.654-11.391 12.654zm42.077 0c-6.2637 0-11.391-5.6575-11.391-12.654s4.9755-12.679 11.391-12.679 11.492 5.708 11.391 12.679c-0.101 6.9708-5.026 12.654-11.391 12.654zm84.482-52.1h37.696c9.0857 0 16.772 1.4176 23.059 4.2529 5.7886 2.4336 10.704 6.5642 14.098 11.847 3.1773 5.219 4.8055 11.234 4.6947 17.343 0.0698 6.1372-1.6218 12.166-4.8743 17.37-3.6281 5.4984-8.8163 9.7874-14.899 12.317-6.6647 3.0378-14.926 4.5521-24.785 4.5428h-34.99v-67.673zm34.603 50.455c6.1216 0 10.826-1.5281 14.112-4.5843 3.3712-3.2692 4.9505-7.7222 4.9295-12.524 0.018-4.4454-1.3802-8.5919-4.3909-11.737-2.9457-2.9273-7.3781-4.3956-13.297-4.4048h-11.792v33.25zm101.39 17.108c-4.9731-1.2461-9.7304-3.2338-14.112-5.896v-16.045c3.8252 2.7822 8.1322 4.8327 12.703 6.0479 5.0007 1.5258 10.196 2.321 15.424 2.3612 1.8044 0.0963 3.6072-0.2152 5.2747-0.9113 1.1875-0.6076 1.7812-1.3808 1.7812-2.1817 0.0257-0.9045-0.3242-1.7792-0.9666-2.4164-1.1029-0.8483-2.3974-1.4125-3.7696-1.6432l-11.599-2.6097c-6.6463-1.5465-11.364-3.6868-14.153-6.4207-2.831-2.8554-4.3338-6.7677-4.1424-10.784-0.0466-3.6001 1.2648-7.0857 3.6729-9.7623 2.8551-3.0202 6.4556-5.2348 10.439-6.4207 5.126-1.6112 10.479-2.3806 15.852-2.2783 5.015-0.0471 10.016 0.5374 14.885 1.7398 3.9328 0.9318 7.7095 2.4295 11.212 4.4462v15.189c-3.2847-1.9057-6.8158-3.3506-10.494-4.2943-3.9853-1.0686-8.0941-1.6071-12.22-1.6017-6.0571 0-9.0857 1.031-9.0857 3.093-0.0206 0.9388 0.5235 1.7985 1.3808 2.1817 1.6549 0.7036 3.3889 1.2044 5.1642 1.4913l9.6656 1.7398c6.2781 1.1046 10.959 3.0378 14.043 5.7994s4.6303 6.8028 4.6395 12.124c0.0999 5.6933-2.8276 11.012-7.6911 13.974-5.0905 3.4152-12.358 5.1182-21.803 5.109-5.4311 0.0084-10.841-0.6737-16.1-2.0298zm68.433-2.0298c-5.1675-2.3744-9.5228-6.2159-12.524-11.046-2.7994-4.7371-4.2331-10.157-4.1424-15.658-0.0834-5.4984 1.4273-10.903 4.3495-15.562 3.1147-4.7547 7.5487-8.4976 12.759-10.77 6.3346-2.7602 13.197-4.0987 20.104-3.9215 9.6656 0 17.688 2.0298 24.067 6.0893v17.716c-2.4269-1.6315-5.0782-2.9013-7.8706-3.7696-3.126-0.9868-6.3877-1.4761-9.6656-1.4498-5.9927 0-10.683 1.0954-14.07 3.2863-4.7612 2.6573-6.4668 8.6712-3.8095 13.432 0.8658 1.5513 2.1342 2.8403 3.6714 3.731 3.2863 2.2185 8.0547 3.3277 14.305 3.3277 3.2263 0.0077 6.4362-0.4575 9.5275-1.3808 2.8197-0.8085 5.5283-1.9634 8.0639-3.4382v17.122c-7.4714 4.3561-16.001 6.5637-24.647 6.3793-6.9299 0.1891-13.811-1.2089-20.118-4.0872zm68.681 0c-5.2255-2.3861-9.6579-6.2195-12.772-11.046-2.9351-4.7259-4.4585-10.192-4.3909-15.755-0.0938-5.4969 1.4334-10.9 4.3909-15.534 3.131-4.7042 7.5442-8.413 12.717-10.687 12.707-5.1553 26.922-5.1553 39.629 0 5.1526 2.2571 9.5478 5.9477 12.662 10.632 2.9377 4.6515 4.4496 10.061 4.3495 15.562 0.0686 5.5572-1.4396 11.02-4.3495 15.755-3.0805 4.8302-7.4922 8.6665-12.703 11.046-12.622 5.4128-26.911 5.4128-39.532 0v0.0276zm29.37-17.15c2.4137-2.4917 3.6925-5.8688 3.5349-9.3342 0.1688-3.4345-1.114-6.7817-3.5349-9.2238-2.6241-2.4065-6.1113-3.6469-9.6656-3.4382-3.5512-0.1868-7.0301 1.0508-9.6656 3.4382-2.4114 2.4472-3.6883 5.7922-3.521 9.2238-0.1564 3.4627 1.1166 6.8376 3.521 9.3342 2.6107 2.4366 6.0995 3.7075 9.6656 3.521 3.5693 0.2077 7.0662-1.0662 9.6656-3.521zm85.306-36.232v20.905c-2.8855-1.7219-6.2118-2.5619-9.569-2.4164-5.1504 0-9.1271 1.5741-11.889 4.6947s-4.1424 7.9672-4.1424 14.54v17.785h-23.681v-56.544h23.198v17.95c1.2887-6.5726 3.3692-11.419 6.2412-14.54 2.818-3.1056 6.9108-4.7373 11.046-4.6947 3.0644-0.0065 6.1462 0.7207 8.7958 2.3197zm78.678-14.084v69.592h-23.681v-12.703c-1.7859 4.5225-4.9942 8.3415-9.1409 10.881-4.5777 2.6081-9.7844 3.9073-15.051 3.7558-4.9558 0.1154-9.834-1.2448-14.015-3.9077-4.0491-2.6304-7.2746-6.3488-9.3066-10.729-2.2171-4.8348-3.3213-10.105-3.2311-15.424-0.156-5.514 1.0186-10.984 3.4244-15.948 2.2114-4.5467 5.6625-8.3759 9.9556-11.046 4.4131-2.6736 9.4912-4.0472 14.65-3.9629 11.267 0 18.839 4.8973 22.714 14.692v-25.2h23.681zm-27.16 49.985c2.4403-2.4019 3.7583-5.7192 3.6315-9.1409 0.1037-3.3205-1.218-6.5267-3.6315-8.8095-5.5847-4.5468-13.595-4.5468-19.179 0-2.4067 2.3349-3.707 5.5831-3.5763 8.9338-0.1227 3.3818 1.1916 6.6575 3.6177 9.0167 2.5628 2.3823 5.9772 3.6316 9.4723 3.4658 3.5576 0.1965 7.0435-1.0534 9.6656-3.4658zm-339.79-52.125c6.5202 0 11.806 4.7478 11.806 10.605s-5.2857 10.605-11.806 10.605-11.806-4.7478-11.806-10.605 5.2857-10.605 11.806-10.605zm-11.82 28.514c7.5551 3.1753 16.07 3.1753 23.626 0v43.523h-23.626z'/%3E%3C/svg%3E%0A");
}

span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}

.visual-refresh [class^=panels_] [class*=container__] {
  top: -3px;
}

[data-list-item-id="guildsnav___home"] {
  --background-surface-higher: #313338;
}

[class*=drawerSizingWrapper__], #emoji-picker-tab-panel {
  --background-surface-high: #2b2d31;
  --background-base-lower: #1e1f22;
}

[class*=interactive_] {
  border-radius: 3px !important;
}


[class*=searchBar_] {
  border-radius: 3px !important;
  border: none !important;
}

[class*=searchBar_] div {
  color: #949ba4;
  font-weight: 500 !important;
}

[class*=contentRegion__] {
  --background-base-low: #313338;
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  --bg-base-tertiary: #1e1f22;
  --background-base-low: #232428;
  --background-base-lower: #313338;
  --background-base-lowest: #2b2d31;
  --input-background: #1e1f22;
  --bg-base-secondary: #2b2d31;
  --background-surface-high: #111214;
  --background-surface-higher: #111214;
  --background-surface-highest: #2b2d31;
  --text-link: #0baafc;
  --background-secondary: #2b2d31;
  --background-secondary-alt: #2b2d31;
  --interactive-normal: #b5bac1;
  --interactive-hover: #dbdee1;
  --background-modifier-selected: #404249;
  --background-modifier-hover: #35373c;
  --background-mod-subtle: #2b2d31;
  --background-tertiary: #1e1f22;
  --icon-primary: #80848e;
  --icon-secondary: #b5bac1;
  --background-primary: #313338;
  --input-border: transparent;
  --input-border-active: transparent;
  --header-secondary: #b5bac1;
  --header-primary: #f2f3f5;
  --channel-icon: #80848e;
  --channels-default: #949ba4;
  --app-border-frame: transparent;
  --border-faint: transparent;
  --bg-mod-faint: color-mix(in oklab,hsl(var(--primary-500-hsl)/0.3) 100%,hsl(var(--theme-base-color-hsl,0 0% 0%)/0.3) var(--theme-base-color-amount,0%));
  --border-feedback-critical: transparent;
  --border-subtle: transparent;
  --border-strong: transparent;
  --chat-background-default: #383a40;
  --scrollbar-auto-track: #2b2d31;
  --scrollbar-auto-thumb: #1a1b1e;
  --scrollbar-thin-thumb: #1a1b1e;
  --background-floating: #111214;
  --background-message-hover: #2e3035;
  --background-mentioned: #444037;
  --background-mentioned-hover: #403d38;
  --background-message-highlight: #393b48;
  --background-message-highlight-hover: #35384a;
  --background-code: #2b2d31;
  --text-code-comment: #7f8791;
  --text-code-string: #6faee6;
  --text-code-tag: #74d07d;
  --text-code-builtin: #d78f50;
  --text-code-variable: #6faee6;
  --text-muted: #949ba4;
  --text-positive: #2dc75f;
  --info-warning-foreground: #f0b232;
  --card-primary-bg:#313338;
  --mention-background: #494b6f;
  --mention-foreground: #babeea;
  --modal-background: #313338;
  --modal-footer-background:#232428;
  --status-danger: #f23f43;
  --autocomplete-bg: #2b2d31;
  --button-positive-background: #248045;
  --button-positive-border: 0px;
  --button-positive-background-hover: #1a6334;
  --radius-sm: 4px;
  --button-filled-brand-border: 1px solid transparent;
}

[class*=cardPrimary__]
{
  border: 1px solid #3b3d44 !important;
}

.visual-refresh .vc-addon-card
{
background-color: var(--background-secondary-alt);
border:  unset;
}

.visual-refresh .vc-addon-card:hover
{
background-color: var(--background-tertiary);
border: unset;
}

.visual-refresh .vc-settings-quickActions-pill:hover
{
background: var(--background-secondary-alt);
}

.visual-refresh .vc-settings-quickActions-pill
{
background: var(--background-secondary);
}

.visual-refresh [class*=chat_][data-has-border=true] {
  border-top: 1px solid #1e1f22;
}

[class*=nowPlayingColumn__]{
  border-left: 1px solid #3f4147;
}

.visual-refresh [class*=sidebar_]:after {
  display: none;
}

.visual-refresh [class*=sidebarList_] {
  width: 264px !important;
}

[class*=sidebarResizeHandle_]
{
  display: none !important;
}

[aria-label="Channel header"] {
  box-shadow: 0px 1px 1px #282a2e;
}

:where(.visual-refresh) [class*=link__] {
  border-radius: 3px !important;
}

[class*=stackedBars__]:has([class*=replyBar__] , [class*=commandInfo__]) {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  --background-surface-higher: #2b2d31 !important;
  border: solid 1px #2b2d31 !important;
  margin-left: -1px;
  margin-right: -1px;
}

.visual-refresh [class*=attachButton__] [class*=icon__]
{
 padding: none;
}

[class*=hasBanner_] [class*=header_] {
  box-shadow: none !important;
}

[class*=sidebarList_] [class*=container_] [class*=header_]:not([class*=name__]) {
  box-shadow: 0px 1px 1px #202225;
}

[class*=sidebarList_] {
  --background-mod-subtle: #35373c;
}

[class*=membersWrap_]{
min-width: 0;
}


[class*=members_]{
  width: 260px;
}

[class*=member_] {
  border-radius: 3px !important;
}

[class*=menu_] {
  --header-primary: #b5bac1;
  --border-subtle: #2e2f34;

}

:where(.visual-refresh) [class*=channelTextArea__] {
  border-color: transparent !important;
  border: 1px solid transparent !;
}

:where(.visual-refresh) [class*=channelTextArea__]:has([class*=replyBar__] , [class*=commandInfo__]) {
  border-top: 1px solid #2b2d31 !important;
}

[class*=embedWrapper_] {
  --background-surface-high: #2b2d31;
}


.visual-refresh [class*=embedFull__] {
  border-right: 1px solid #2b2d31 !important;
  border-top: 1px solid #2b2d31 !important;
  border-bottom: 1px solid #2b2d31 !important;
}

#user-context-note [class*=label]{
display: none;
}

#user-context-note::after{
content: 'Edit Note';
}
  

[class*=spoilerContent__][class*=hidden__] {
  background-color: #212226;
}

[aria-label="Channel Topic"] [class*=root__]
{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px !important;
  border: none !important;
}

/* Fix the dead space padding on the server and channel list */
.visual-refresh [class^=wrapper_],
.visual-refresh .container__2637a {
  padding-bottom: unset;
  --custom-app-panels-height: 16px
}

[class*=itemCard__]{
  --background-surface-high: #1e1f22;
}

[aria-label="Direct Messages"] [href="/store"] [class*=avatar_]
{
  margin-left: 2.5px;
  margin-right: 5%;
}

[aria-label="Direct Messages"] [href="/store"] [class*=avatar_] [class*=linkButtonIcon__]
{
  height: 28px;
  width: 28px;
}

[aria-label="Direct Messages"] [href="/shop"] [class*=avatar_]
{
  margin-left: 2.5px;
  margin-right: 5%;
}

[aria-label="Direct Messages"] [href="/shop"] [class*=avatar_] [class*=linkButtonIcon__]
{
  height: 28px;
  width: 28px;
}

[aria-label="Direct Messages"] [href="/message-requests"] [class*=avatar_] [class*=linkButtonIcon__]
{
  height: 28px;
  width: 28px;
}

[aria-label="Direct Messages"] [href="/message-requests"] [class*=avatar_]
{
  margin-left: 2.5px;
  margin-right: 5%;
}

[class*=friendsButtonContainer__] [class*=avatar_] {
  margin-left: 2.5px;
  margin-right: 5%;
}

[class*=friendsButtonContainer__] [class*=avatar_] [class*=linkButtonIcon__] {
  height: 28px;
  width: 28px;
}

[aria-label="Direct Messages"] [class*=interactiveSelected__] [class*=linkButtonIcon__] {
  color: var(--interactive-active);
}

[aria-label="Direct Messages"] [class*=interactive_]:active [class*=linkButtonIcon__]{
  color: var(--interactive-active);
  }


[aria-label="Direct Messages"] [class*=sectionDivider__] {
  background-color: transparent;
}


/*[class*=privateChannels__] [class*=searchBar__] {
  display: none;
} */

[class*=quickswitcher_] {
  --background-surface-high: #2b2d31;
}

[class*=privateChannels_] [class*=searchBar__]
{
  position: relative;
  display: flex;
  height: var(--custom-channel-header-height);
  padding: 0 10px;
  line-height: 24px;
  align-items: center;
}

[class*=searchBar__] [class*=button__] {
  height: 28px;
  border-radius: 4px !important;
  display: block;
  color: #949ba4;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  min-height: unset;
  min-width: unset;
}

[class*=searchBar__] [class*=button__] [class*=contents_]{
width: 100%;
height: 28px;
overflow: hidden;
border-radius: 4px;
text-align: left;
text-overflow: ellipsis;
font-size: 14px;
font-weight: 500;
line-height: 24px;
white-space: nowrap;
margin-left: -6px;
}

:where(.visual-refresh) [class*=button__] [class*=contents__] {
  font-weight: 500 !important;
}

[class*=privateChannels__] [class*=searchBar__] {
  --button-secondary-background: #1e1f22;
  --button-secondary-background-hover: #1e1f22;
  --button-secondary-background-active: #1e1f22;
  --button-secondary-text: #949ba4;
  box-shadow: 0px 1px 1px #202225;
}

.visual-refresh .container__133bf, .visual-refresh .container__01ae2, .visual-refresh .container_f391e3 {
  border-top: 1px solid #1e1f22;
}

.visual-refresh [class*=chatLayerWrapper__] [class*=resizeHandle__]{
 background-color: var(--bg-overlay-3,var(--background-tertiary));
}


[aria-label="Friends"] [role="navigation"] {

  box-shadow: 0px 1px 1px #282a2e;
}

[class*=container__]:has([class*=upperContainer__] , [aria-label="Message Requests"]) {

  box-shadow: 0px 1px 1px #282a2e;
}

[class*=winButtonsWithDivider_]::before {
  display: none;
}

[class*=channelAttachmentArea_] {
  --background-base-low: #383a40;
  --background-surface-high: #2b2d31;
  border-bottom: 1px solid #42444b;
}

[aria-label="Help"],
[aria-label="Inbox"] {
  display: none !important;
}


[class*=typing_]{
  margin-bottom: -5px;
}

/* Aligned Chat Box and Typing indicator */
[class*=container_] {
  --custom-chat-input-margin-bottom: 20px;
}

:root {
  --custom-channel-textarea-text-area-height: 44px;
}


.visual-refresh [class*=form_]:has([class*=channelBottomBarArea_]) [class*=typing_] {
  font-size: 14px !important;
  height: 28px;
  color: var(--text-normal);
  left: 16px;
  line-height: 24px;
  font-weight: 500;
} 

[class*=sidebar_]:has([aria-label="Servers sidebar"]) [class*=guilds_]
{
  width: 72px;
}

#vc-friendcount{
  margin-left: -1px;
}

/* guild size fix wholesale begin */

:root {
  --guildbar-avatar-size: 48px;
  --blob-scale: 48;

  --guildbar-folder-size: var(--guildbar-avatar-size);
  --folder-blob-scale: var(--blob-scale);

  --custom-guild-list-padding: 12px;
  --custom-guild-list-width: calc(
      max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
      + var(--custom-guild-list-padding) * 2
  );
}

nav[class*="guilds_"] {
  /* Uncomment if you changed up your nameplate */
  /* margin: 0;
  [class*="sidebar_"]::after {
      height: 0;
  } */

  defs>path {
      /* #svg-mask-squircle */
      d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
  }

  defs, 
  [class*="blobContainer_"],
  [class*="wrapper_"],
  [class*="listItemWrapper__"],
  svg[class*="placeholderMask__"],
  svg:not([class*="placeholderMask__"]) > foreignObject {
      width: var(--guildbar-avatar-size) !important;
      height: var(--guildbar-avatar-size) !important;
  }

  [class*="dragInner__"] {
      width: 40px;
      height: 40px;
  }

  [class*="childWrapper__"]>svg {
      width: calc(var(--guildbar-avatar-size) - 18px);
      height: calc(var(--guildbar-avatar-size) - 18px);
  }

  [class*="childWrapper__"],
  [class*="childWrapper__"] img,
  [class*="icon_"],
  [class*="circleIconButton__"] {
      border-radius: 50% !important;
      transition: border-radius 150ms linear;
  }

  [class*="selected__"] {
      [class*="childWrapper__"],
      [class*="childWrapper__"] img,
      [class*="icon_"],
      &[class*="circleIconButton__"] {
          border-radius: 27% !important;
      }
  }

  [class*="shiftSVG_"] {
      top: 0px;
      left: 0px;

      foreignObject {
          transform: translate(-4px, -4px);
      }
  }

  mask {
      --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

      &:not([class*="folderHeader__"] mask) {
          use[href$="-lower_badge_masks"] {
              translate: var(--badge-offset) var(--badge-offset);
          }

          use[href$="-upper_badge_masks"] {
              translate: var(--badge-offset);
          }
      }

      use[href$="-blob_mask"] {
          scale: var(--blob-scale);
      }
  }

  [class*="folderPreviewWrapper__"] {
      display: flex;
      justify-content: center;
      align-items: center;

      [class*="folderPreview__"] {
          width: calc(var(--guildbar-folder-size) * (2/3) + var(--custom-folder-preview-gap));
          height: calc(var(--guildbar-folder-size) * (2/3) + var(--custom-folder-preview-gap));
      }
  }

  [class*="iconSizeMini_"] {
      width: calc(var(--guildbar-folder-size) / 3);
      height: calc(var(--guildbar-folder-size) / 3);

      [class*="acronym_"] {
          line-height: calc(var(--guildbar-folder-size) / 3);
      }

      &[style*="font-size: 12px;"] {
          font-size: 10px !important;
      }
      &[style*="font-size: 10px;"] {
          font-size: 7px !important;
      }
      &[style*="font-size: 8px;"] {
          font-size: 6px !important;
      }
  }

  [class*="folderIcon__"] {
      svg {
          width: 24px !important;
          height: 24px !important;
      }
      
      background-color: var(--bg-mod-subtle);
  }

  [class*="closedFolderIconWrapper__"] {
      gap: initial;
  }

  [class*="listItem__"] {
      margin-bottom: 8px;
      height: min-content;
  }

  [class*="stack_"] {
      gap: 0 !important;
  }

  #guild-list-unread-dms {
      margin-top: 0 !important;
      > div {
          height: var(--guildbar-avatar-size) !important;
          margin-bottom: 8px;
      }
  }

  [class*="isExpanded__"] {
      [class*="folderGroupBackground__"] {
          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
      }

      [class*="stack_"] {
          height: auto !important;
          :last-child {
              margin-bottom: 0;
          }
      }

      margin-bottom: 8px;
  }

  [id^="folder-items-"] {
      --guildbar-avatar-size: var(--guildbar-folder-size) !important;
  }
}




/* guild size fix wholesale end */