/* Make profile & derivatives stop hogging the entire bottom left corner*/
.visual-refresh [class^=panels_] {
  bottom: 0px;
  padding-top: 8px;
  left: 80px;
  width: calc(100% - 80px);
  border-radius: 0%;
}

/* Invalidated by New Serve Fix Desu */

/*[class*=listItem__] [class*=blobContainer_] foreignObject {
  mask: url(#svg-mask-avatar-default);

}

[class*=listItem__] [class*=blobContainer_]:has([class*=numberBadge_]) foreignObject {
  mask: url(#svg-mask-avatar-status-round-32) !important;

}

[class*=listItemWrapper__]:has([class*=numberBadge_]) foreignObject {
  mask: url(#svg-mask-avatar-status-round-32) !important;
} 

[class*=folderIcon__]:has([class*=numberBadge_]) [class*=numberBadge_]{
margin-right: 2px;
margin-bottom: 2px;
}

[class*=circleIconButton__] [class*=circleIcon__] {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-bottom: 8px;
} */

/*foreignObject:has([aria-label="Direct Messages"]) {
  border-radius: 100%;
  transition: all 0.2s linear;
}

foreignObject:has([aria-label="Direct Messages"]):has([class*=selected__]) {
  border-radius: 0;
  transition: all 0.2s linear;
} */

[class*=lowerBadge_]{
scale: 90%;
}


[class*=activityPanel_] , #vc-spotify-player {
  --background-surface-high: #232428;
  box-shadow: 0px 1px 1px #37393f;
  border-radius: 0% !important;
  margin-bottom: 8px;
  padding-top: 1px;
}

#vc-spotify-player {
border-bottom: 0px;
background: unset !important;
}

[data-list-id*=forum-channel-list] , [class*=grid_]
{
  --background-base-low: #393c41;
  --background-surface-high: #393c41;
  --button-secondary-background: #232428;
  --background-surface-higher: #43444b;
  --background-modifier-hover: #393c41;
}

[class*=mainContent__] [class*=overflow__]:not([class*=name__])
{
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
  letter-spacing: .02em;
  padding-left: 2px;
  font-weight: 600;
}

[class*=text-sm\/medium_]:not([class*=pronounsText],[class*=privateChannelsHeaderContainer__],[class*=cooldownText_],[class*= gameName__]){
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 1.3333333333333333;
  text-transform: uppercase;
  letter-spacing: .02em;
  font-weight: 600; 
}

.visual-refresh [class*=title_]{
color: var(--header-secondary); 
}

[class*=subText__] [class*=activityText_] {
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 1.3333333333333333;
  font-weight: 500;
  color: var(--channels-default);
}

[class*=addFriendWumpusWrapper__] > img
{
  display: none;
}

[id=add_friend-tab] [class*=header__] [class*=title__]
{
font-size: 16px;
color: var(--header-primary);
text-transform: uppercase;
line-height: 20px;
font-weight: 600;
font-family: var(--font-display)
}

[class*=subtext__] [class*=text-sm\/medium_]
{
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 1.3333333333333333;
  font-weight: 500;
  color: var(--channels-default);
  text-transform: none;
}

[class*=mainContent__]:has([class*=overflow__]) [class*=icon__]
{
position: absolute;
left: 5px;
}


/*invite button shittery*/
[id*=message-accessories-] 
{
--background-surface-high: #2b2d31;
}

[id*=message-accessories-] [class*=header_]
{
font-family: var(--font-display);
font-size: 12px;
line-height: 1.3333333333333333;
text-transform: uppercase;
letter-spacing: .02em;
font-weight: 700;
}

[class*=markup__]
{
  --border-normal: #1e1f22 !important;
}

[id*=message-accessories-] [class*=content]:not([class*=contents__])
{
padding-bottom: 15px;
border-radius:0px !important;
}

[id*=message-accessories-] [class*=button_]
{
border-radius:3px !important;
}

[data-list-id*=forum-channel-list] [class*=mainCard_]:hover:not([class*=header_])
{
  box-shadow: 0px 8px 16px hsl(var(--black-500-hsl)/0.24);
}

[class*=file_]
{
--background-surface-high: #2b2d31;
}

[data-type="success"]{
  background-color: #1e1f22 !important;
  color: #f2f3f5 !important;
}

[class*=colorDanger_]{
  --text-danger: #da373c;
  --text-feedback-critical: white;
  --background-feedback-critical: #da373c;

}

[class*=button__][class*=colorRed__]
{
  --button-outline-danger-background: #313338 !important;
  --button-outline-danger-background-hover: #da373c;
  --button-outline-danger-text: white;
  --button-outline-danger-text-hover: white;
  --button-outline-danger-border-hover: #da373c;
  --button-outline-danger-border: #da373c;
}

/* Chat Bar */
.visual-refresh [class*=scrollerInner__] {
    padding-bottom: 5px;
}

.visual-refresh .button__74017,.buttonContents_e6e74f:not([class*="enabled__67645"]) {
    transform: scale(1.25) !important;
}

.visual-refresh [class*=spriteContainer__] {
   transform: scale(1.1) !important;
}

[aria-label="Pinned Messages"] [class*=header__]
{
  --background-surface-high: #232428;
}

[class*=actionButtons__]:has([class*=jumpButton__]){
  --background-surface-high: #232428;
  box-shadow: none !important;
}

[aria-label="Pinned Messages"] [class*=messagesPopoutWrap__]
{
  box-shadow: 0 1px 5px 0px rgb(0, 0, 0, 0.4);
  --background-surface-high: #313338;
  --background-surface-higher: #313338;
}

[class*=repliedMessage_]{
  --header-secondary: #b4b9c0;
}

[class*=outer_]:has([class*=footer__])
{
  --background-secondary-alt: #232428 !important;
}

[class*=outer_] [class*=footer__]:has([class*=button__],[class*=contents__])
{
border-top: 1px solid #343539;
}

[id*=popout_] [class*=footer__]:has([class*=button__],[class*=contents__])
{
border-top: none;
}

[class*=guildSeparator__] {
  background-color: #35363c !important;
  padding-bottom: 1px;
  padding-top: 1px;
  }

.visual-refresh [class*=autocompleteInner__]{
  --background-surface-high: #2b2d31;
  --background-base-lowest:#1e1f22;
}

[class*=panels_c48ade] [aria-label="Mute"], [aria-label="Deafen"], [aria-label="Enable Game Activity"], [aria-label="Disable Game Activity"], [aria-label="User Settings"]
{
  background-color: transparent !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-idle)"]) [class*=pointerEvents__]{
  fill: #f0b232 !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-online)"]) [class*=pointerEvents__]{
  fill: #23a55a !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-online)"]) [class*=pointerEvents__]{
  fill: #23a55a !important;
}

[class*=avatar__]:has([mask="url(#svg-mask-status-dnd)"]) [class*=pointerEvents__]{
  fill: #f23f43 !important;
}

[class*=separator_]{
  background-color: #3b3d44 !important;
}


[class*=actionButtons_] {
  padding-bottom: 8px;
  margin-top: -5px;
  box-shadow: 0px 1px 1px #37393f;
}

[class*=privateChannelsHeaderContainer_] {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .02em;
  font-family: var(--font-display);
  font-weight: 600;
  text-transform: uppercase;
}

.icon_f34534.guildIcon__48112 {
  border-radius: 50% !important
}

[class*=bar_] [class*=title_] [class*=title_] {
  visibility: hidden;
}

span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}

.visual-refresh [class^=panels_] [class*=container__] {
  top: -3px;
}

[data-list-item-id="guildsnav___home"] {
  --background-surface-higher: #313338;
}

[class*=drawerSizingWrapper__], #emoji-picker-tab-panel {
  --background-surface-high: #2b2d31;
  --background-base-lower: #1e1f22;
}

[class*=interactive_] {
  border-radius: 3px !important;
}


[class*=searchBar_] {
  border-radius: 3px !important;
  border: none !important;
}

[class*=searchBar_] div {
  color: #949ba4;
  font-weight: 500 !important;
}

[class*=contentRegion__] {
  --background-base-low: #313338;
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  --bg-base-tertiary: #1e1f22;
  --background-base-low: #232428;
  --background-base-lower: #313338;
  --background-base-lowest: #2b2d31;
  --input-background: #1e1f22;
  --bg-base-secondary: #2b2d31;
  --background-surface-high: #111214;
  --background-surface-higher: #111214;
  --background-surface-highest: #2b2d31;
  --text-link: #0baafc;
  --background-secondary: #2b2d31;
  --background-secondary-alt: #2b2d31;
  --interactive-normal: #b5bac1;
  --interactive-hover: #dbdee1;
  --background-modifier-selected: #404249;
  --background-modifier-hover: #35373c;
  --background-mod-subtle: #2b2d31;
  --background-tertiary: #1e1f22;
  --icon-primary: #80848e;
  --icon-secondary: #b5bac1;
  --background-primary: #313338;
  --input-border: transparent;
  --input-border-active: transparent;
  --header-secondary: #b5bac1;
  --header-primary: #f2f3f5;
  --channel-icon: #80848e;
  --channels-default: #949ba4;
  --app-border-frame: transparent;
  --border-faint: transparent;
  --border-feedback-critical: transparent;
  --border-subtle: transparent;
  --border-strong: transparent;
  --chat-background-default: #383a40;
  --scrollbar-auto-track: #2b2d31;
  --scrollbar-auto-thumb: #1a1b1e;
  --scrollbar-thin-thumb: #1a1b1e;
  --background-floating: #111214;
  --background-message-hover: #2e3035;
  --background-mentioned: #444037;
  --background-mentioned-hover: #403d38;
  --background-message-highlight: #393b48;
  --background-message-highlight-hover: #35384a;
  --background-code: #2b2d31;
  --text-code-comment: #7f8791;
  --text-code-string: #6faee6;
  --text-code-tag: #74d07d;
  --text-code-builtin: #d78f50;
  --text-code-variable: #6faee6;
  --text-muted: #949ba4;
  --text-positive: #2dc75f;
  --info-warning-foreground: #f0b232;
  --card-primary-bg:#313338;
  --mention-background: #494b6f;
  --mention-foreground: #babeea;
  --modal-background: #313338;
  --modal-footer-background:#232428;
  --status-danger: #f23f43;
  --autocomplete-bg: #2b2d31;
  --button-positive-background: #248045;
  --button-positive-border: 0px;
  --button-positive-background-hover: #1a6334;
}

[class*=cardPrimary__]
{
  border: 1px solid #3b3d44 !important;
}


.visual-refresh [class*=chat_][data-has-border=true] {
  border-top: 1px solid #1e1f22;
}

[class*=nowPlayingColumn__]{
  border-left: 1px solid #3f4147;
}

.visual-refresh [class*=sidebar_]:after {
  display: none;
}

[aria-label="Channel header"] {
  box-shadow: 0px 1px 1px #282a2e;
}

:where(.visual-refresh) [class*=link__] {
  border-radius: 3px !important;
}

[class*=stackedBars__]:has([class*=replyBar__] , [class*=commandInfo__]) {
  --background-surface-higher: #2b2d31 !important;
  border: solid 1px #2b2d31 !important;
  margin-left: -1px;
  margin-right: -1px;
}

[class*=hasBanner_] [class*=header_] {
  box-shadow: none !important;
}

[class*=sidebarList_] [class*=container_] [class*=header_] {
  box-shadow: 0px 1px 1px #202225;
}

[class*=sidebarList_] {
  --background-mod-subtle: #35373c;
}

[class*=member_] {
  border-radius: 3px !important;
}

[class*=menu_] {
  --header-primary: #b5bac1;
  --border-subtle: #2e2f34;

}

:where(.visual-refresh) [class*=channelTextArea__] {
  border-color: transparent !important;
  border: 1px solid transparent !;
}

:where(.visual-refresh) [class*=channelTextArea__]:has([class*=replyBar__] , [class*=commandInfo__]) {
  border-top: 1px solid #2b2d31 !important;
}

[class*=embedWrapper_] {
  --background-surface-high: #2b2d31;
}


[class*=embedFull__] {
  border-right: 1px solid #2b2d31 !important;
  border-top: 1px solid #2b2d31 !important;
  border-bottom: 1px solid #2b2d31 !important;
}

#user-context-note [class*=label]{
display: none;
}

#user-context-note::after{
content: 'Edit Note';
}
  

[class*=spoilerContent__][class*=hidden__] {
  background-color: #212226;
}

[aria-label="Channel Topic"] [class*=root__]
{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px !important;
  border: none !important;
}

/* Fix the dead space padding on the server and channel list */
.visual-refresh [class^=wrapper_],
.visual-refresh .container_ee69e0 {
  padding-bottom: unset;
  --custom-app-panels-height: 16px
}

[class*=itemCard__]{
  --background-surface-high: #1e1f22;
}

[class*=friendsButtonContainer__] {
  height: 35px;
  margin-top: 5px;
  margin-bottom: 14px;
}

[aria-label="Direct Messages"] [href="/store"] [class*=avatar_]
{
  margin-left: 2.5px;
  margin-right: 5%;
}

[aria-label="Direct Messages"] [href="/store"] [class*=avatar_] [class*=linkButtonIcon__]
{
  height: 28px;
  width: 28px;
}

[aria-label="Direct Messages"] [href="/shop"] [class*=avatar_]
{
  margin-left: 2.5px;
  margin-right: 5%;
}

[aria-label="Direct Messages"] [href="/shop"] [class*=avatar_] [class*=linkButtonIcon__]
{
  height: 28px;
  width: 28px;
}

[class*=friendsButtonContainer__] [class*=avatar_] {
  margin-left: 2.5px;
  margin-right: 5%;
}

[class*=friendsButtonContainer__] [class*=avatar_] [class*=linkButtonIcon__] {
  height: 28px;
  width: 28px;
}

[aria-label="Direct Messages"] [class*=sectionDivider__] {
  background-color: transparent;
}


/*[class*=privateChannels__] [class*=searchBar__] {
  display: none;
} */

[class*=quickswitcher_] {
  --background-surface-high: #2b2d31;
}

[class*=searchBar__] [class*=button__] {
  border-radius: 3px !important;
  display: block;
  color: #949ba4;
  text-align: initial;
  font-size: 14px;
}

:where(.visual-refresh) [class*=button__] [class*=contents__] {
  font-weight: 500 !important;
}

[class*=privateChannels__] [class*=searchBar__] {
  --button-secondary-background: #1e1f22;
  --button-secondary-background-hover: #1e1f22;
  --button-secondary-background-active: #1e1f22;
  --button-secondary-text: #949ba4;
  box-shadow: 0px 1px 1px #202225;
}

.visual-refresh .container__133bf {
  border-top: 1px solid #1e1f22;
}

[aria-label="Friends"] [role="navigation"] {

  box-shadow: 0px 1px 1px #282a2e;
}

[class*=winButtonsWithDivider_]::before {
  display: none;
}

[class*=channelAttachmentArea_] {
  --background-base-low: #383a40;
  --background-surface-high: #2b2d31;
  border-bottom: 1px solid #42444b;
}

[aria-label="Help"],
[aria-label="Inbox"] {
  display: none !important;
}


[class*=typing_]{
  margin-bottom: -5px;
}

/* Aligned Chat Box and Typing indicator */
.container_c48ade {
  --custom-chat-input-margin-bottom: 20px;
}

:root {
  --custom-channel-textarea-text-area-height: 44px;
}

.visual-refresh .base_b88801 {
  font-size: 13.5px;
  height: 28px;
}

/* guild size fix wholesale begin */

:root {
    /* You can change the size but only to be less than 48px, you must change the blob scale too*/
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}

.visual-refresh nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplate */
    /* margin: 0;
    [class*="sidebar_"]:has(&)::after {
        height: 0;
    } */

    defs > path {
        /* #svg-mask-squircle */
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs {
        width: var(--guildbar-avatar-size);
        height: var(--guildbar-avatar-size);
    }

    [class*="childWrapper__"] > svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }
    }

    [class*="childWrapper__"],
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        border-radius: 100% !important;
        transition: border-radius 150ms;
    }

    [class*="selected__"] {
        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        [class*="circleIconButton__"] {
            border-radius: 0 !important;
        }
    }

    svg[class*="placeholderMask__"] {
        width: var(--guildbar-avatar-size);
        height: var(--guildbar-avatar-size);
    }

    svg:not([class*="placeholderMask__"]) {
        top: 0px;
        left: 0px;

        foreignObject {
            width: var(--guildbar-avatar-size);
            height: var(--guildbar-avatar-size);
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);


        use[href$="-lower_badge_masks"] {
            translate: var(--badge-offset) var(--badge-offset);
        }
        use[href$="-upper_badge_masks"] {
            translate: var(--badge-offset);
        }
        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderIcon__"] {
        use {
            translate: none !important;

            &[href$="-blob_mask"] {
                scale: var(--folder-blob-scale) !important;
            }
        }

        [class*="wrapper_"], foreignObject {
            width: var(--guildbar-folder-size) !important;
            height: var(--guildbar-folder-size) !important;
        }
    }

    [class*=expandedFolderIconWrapper__] svg {
        width: calc(var(--guildbar-folder-size)/2);
        height: calc(var(--guildbar-folder-size)/2);
    }

    [class*="stack_"] {
        & > div:not([class]):has([class*="listItem__"]) {
            height: var(--guildbar-avatar-size) !important;
        }

        [class*="isExpanded__"] & {
            height: auto !important;
        }

        [id^="folder-items-"] {
            --guildbar-avatar-size: var(--guildbar-folder-size) !important;
        }
    }
}

:root {
  /* You can change the size but only to be less than 48px, you must change the blob scale too*/
  --guildbar-avatar-size: 48px;
  --blob-scale: 48;

  --guildbar-folder-size: var(--guildbar-avatar-size);
  --folder-blob-scale: var(--blob-scale);
}

.visual-refresh nav[class*="guilds_"] {
  /* Uncomment if you changed up your nameplate */
  /* margin: 0;
  [class*="sidebar_"]:has(&)::after {
      height: 0;
  } */

  defs > path {
      /* #svg-mask-squircle */
      d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
  }

  defs {
      width: var(--guildbar-avatar-size);
      height: var(--guildbar-avatar-size);
  }

  [class*="childWrapper__"] > svg {
      width: calc(var(--guildbar-avatar-size) - 18px);
      height: calc(var(--guildbar-avatar-size) - 18px);
  }

  [class*="iconSizeMini_"] {
      width: calc(var(--guildbar-folder-size) / 3);
      height: calc(var(--guildbar-folder-size) / 3);

      [class*="acronym_"] {
          line-height: calc(var(--guildbar-folder-size) / 3);
      }
  }

  [class*="childWrapper__"],
  [class*="childWrapper__"] img,
  [class*="icon_"],
  [class*="circleIconButton__"] {
      border-radius: 100% !important;
      transition: border-radius 150ms;
  }

  [class*="selected__"] {
      [class*="childWrapper__"],
      [class*="childWrapper__"] img,
      [class*="icon_"],
      [class*="circleIconButton__"] {
          border-radius: 0 !important;
      }
  }

  svg[class*="placeholderMask__"] {
      width: var(--guildbar-avatar-size);
      height: var(--guildbar-avatar-size);
  }

  svg:not([class*="placeholderMask__"]) {
      top: 0px;
      left: 0px;

      foreignObject {
          width: var(--guildbar-avatar-size);
          height: var(--guildbar-avatar-size);
          transform: translate(-4px, -4px);
      }
  }

  mask {
      --badge-offset: calc(var(--guildbar-avatar-size) - 40px);


      use[href$="-lower_badge_masks"] {
          translate: var(--badge-offset) var(--badge-offset);
      }
      use[href$="-upper_badge_masks"] {
          translate: var(--badge-offset);
      }
      use[href$="-blob_mask"] {
          scale: var(--blob-scale);
      }
  }

  [class*="folderIcon__"] {
      use {
          translate: none !important;

          &[href$="-blob_mask"] {
              scale: var(--folder-blob-scale) !important;
          }
      }

      [class*="wrapper_"], foreignObject {
          width: var(--guildbar-folder-size) !important;
          height: var(--guildbar-folder-size) !important;
      }
  }

  [class*=expandedFolderIconWrapper__] svg {
      width: calc(var(--guildbar-folder-size)/2);
      height: calc(var(--guildbar-folder-size)/2);
  }

  [class*="stack_"] {
      & > div:not([class]):has([class*="listItem__"]) {
          height: var(--guildbar-avatar-size) !important;
      }

      [class*="isExpanded__"] & {
          height: auto !important;
      }

      [id^="folder-items-"] {
          --guildbar-avatar-size: var(--guildbar-folder-size) !important;
      }
  }
}

/* guild size fix wholesale end */